@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 99px);
}

body {
  font-family: "Raleway", sans-serif;
  color: #464646;
  background-color: #F5F5F5;
}

#menu {
  z-index: 999999;
  width: 100%;
  padding: 0px 4%;
  background-color: #F5F5F5;
  position: sticky;
  top: 0;
  left: 0;
}
#menu .menu--container {
  max-width: 1137px;
  margin: 0 auto;
}
#menu .menu--container .menu--fixed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu .menu--container .menu--fixed .menu--logo {
  font-size: 18px;
  font-weight: 700;
}
#menu .menu--container .menu--fixed .menu--links ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 600;
}
#menu .menu--container .menu--fixed .menu--links ul .menu--navs:hover {
  cursor: pointer;
  background-color: #EAF2FD;
}
#menu .menu--container .menu--fixed .menu--links ul .menu--navs a {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
  width: 6rem;
  text-decoration: none;
  color: #464646;
}
#menu .menu--container .menu--fixed .menu--links ul .menu--email {
  margin-left: 0.5rem;
}
#menu .menu--container .menu--fixed .menu--links ul .menu--email a {
  text-decoration: none;
  color: #464646;
}
@media screen and (max-width: 860px) {
  #menu {
    position: static;
  }
  #menu .menu--container .menu--fixed {
    height: 4rem;
  }
  #menu .menu--container .menu--fixed .menu--logo {
    font-size: 1rem;
  }
  #menu .menu--container .menu--fixed .menu--links ul .menu--navs {
    display: none;
  }
  #menu .menu--container .menu--fixed .menu--links ul .menu--email a {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 675px) {
  #menu .menu--container {
    padding: 0 2.5%;
  }
}
@media screen and (max-width: 365px) {
  #menu .menu--container .menu--fixed .menu--logo {
    font-size: 0.875rem;
  }
  #menu .menu--container .menu--fixed .menu--links ul .menu--navs {
    display: none;
  }
  #menu .menu--container .menu--fixed .menu--links ul .menu--email a {
    font-size: 0.7rem;
  }
}

#content #home {
  max-width: 1137px;
  margin: 32px auto;
  display: flex;
  align-items: center;
  height: 25rem;
}
@media (max-width: 1177px) {
  #content #home {
    padding: 0 4%;
  }
}
@media (max-width: 675px) {
  #content #home {
    padding: 0 6%;
  }
}
#content #home .home--main h1 {
  font-size: 3.25rem;
}
#content #home .home--main p {
  font-size: 1.375rem;
  font-weight: 400;
  margin: 1.5rem 0;
}
#content #home .home--main .home--socials ul {
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
}
#content #home .home--main .home--socials ul li {
  font-weight: 600;
}
#content #home .home--main .home--socials ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #464646;
  gap: 0.5rem;
}
#content #home .home--main .home--socials ul li a:hover {
  color: #2A7AE4;
}
#content #home .home--main .home--socials ul li a .arrow {
  max-height: 0.8rem;
}
#content #home .home--image {
  height: 85%;
  margin-left: 1rem;
  border-radius: 15rem;
}
@media screen and (max-width: 860px) {
  #content #home {
    height: 8rem;
  }
  #content #home .home--main h1 {
    font-size: 1.375rem;
  }
  #content #home .home--main p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  #content #home .home--image {
    height: 130%;
    margin-bottom: 1.3rem;
  }
}
@media screen and (max-width: 675px) {
  #content #home {
    flex-direction: column-reverse;
    height: 14.5rem;
  }
  #content #home .home--main h1 {
    font-size: 1.375rem;
  }
  #content #home .home--main p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  #content #home .home--main .home--socials ul {
    gap: 0.8rem;
  }
  #content #home .home--main .home--socials ul li {
    font-size: 0.875rem;
  }
  #content #home .home--main .home--socials ul li a {
    gap: 0.3rem;
  }
  #content #home .home--main .home--socials ul li a .arrow {
    max-height: 0.53rem;
  }
  #content #home .home--image {
    height: 6rem;
    margin-left: 0rem;
    align-self: flex-start;
  }
}
@media screen and (max-width: 365px) {
  #content #home .home--main .home--socials ul {
    gap: 0.4rem;
  }
  #content #home .home--main .home--socials ul li {
    font-size: 0.7rem;
  }
  #content #home .home--image {
    height: 4rem;
  }
}
#content #aboutme {
  display: flex;
  align-items: center;
  background-color: #EAF2FD;
}
#content #aboutme .aboutme--container {
  max-width: 1137px;
  margin: 32px auto;
}
@media (max-width: 1177px) {
  #content #aboutme .aboutme--container {
    padding: 0 4%;
  }
}
@media (max-width: 675px) {
  #content #aboutme .aboutme--container {
    padding: 0 6%;
  }
}
#content #aboutme .aboutme--container .aboutme--content h2 {
  padding-top: 32px;
  font-size: 2rem;
}
#content #aboutme .aboutme--container .aboutme--content p {
  padding: 16px 400px 32px 0;
}
@media screen and (max-width: 860px) {
  #content #aboutme .aboutme--container .aboutme--content h2 {
    padding-top: 0;
    font-size: 1.375rem;
  }
  #content #aboutme .aboutme--container .aboutme--content p {
    padding: 16px 0 0 0;
    font-size: 14px;
  }
}
#content #skills--hobbies {
  max-width: 1137px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1177px) {
  #content #skills--hobbies {
    padding: 0 4%;
  }
}
@media (max-width: 675px) {
  #content #skills--hobbies {
    padding: 0 6%;
  }
}
#content #skills--hobbies .skills--hobbies--titles {
  font-size: 2rem;
}
#content #skills--hobbies .skills--hobbies--cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0 4rem 0;
  list-style-type: none;
}
#content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container {
  display: flex;
  align-items: flex-end;
  height: 11rem;
  width: 11rem;
  background-color: white;
  transition: 0.2s;
}
#content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container:hover {
  height: 10.7rem;
  width: 10.7rem;
}
#content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container li {
  padding: 1rem 1rem;
}
#content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container li .skills--hobbies--icon {
  height: 2rem;
}
#content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container li p {
  font-weight: 700;
}
@media screen and (max-width: 860px) {
  #content #skills--hobbies .skills--hobbies--titles {
    font-size: 1.375rem;
  }
  #content #skills--hobbies .skills--hobbies--cards {
    margin: 2rem 0 2rem 0;
  }
  #content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container {
    height: 7.375rem;
    width: 14rem;
  }
  #content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container:hover {
    height: 7.375rem;
    width: 14rem;
  }
}
@media screen and (max-width: 675px) {
  #content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container {
    height: 7.375rem;
    width: 9.75rem;
  }
  #content #skills--hobbies .skills--hobbies--cards .skills--hobbies--cards--container:hover {
    height: 7.375rem;
    width: 9.75rem;
  }
}
#content #formations {
  display: flex;
  align-items: center;
  background-color: #EAF2FD;
}
#content #formations .formations--content {
  max-width: 1137px;
  margin: 32px auto;
}
@media (max-width: 1177px) {
  #content #formations .formations--content {
    padding: 0 4%;
  }
}
@media (max-width: 675px) {
  #content #formations .formations--content {
    padding: 0 6%;
  }
}
#content #formations .formations--content h2 {
  font-size: 2rem;
  padding: 3rem 0 2rem 0;
}
#content #formations .formations--content .formations--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 23rem;
  background-color: white;
}
#content #formations .formations--content .formations--container img {
  height: 4rem;
}
#content #formations .formations--content .formations--title {
  padding: 1rem 0 0.5rem 0;
  font-size: 1.375rem;
  font-weight: 700;
}
#content #formations .formations--content .formations--years {
  padding-bottom: 3rem;
  font-weight: 500;
}
@media screen and (max-width: 860px) {
  #content #formations .formations--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  #content #formations .formations--content h2 {
    padding: 2rem 0 2rem 0;
    font-size: 1.375rem;
  }
  #content #formations .formations--content .formations--container {
    height: 8rem;
    width: 15rem;
  }
  #content #formations .formations--content .formations--container img {
    height: 3rem;
  }
  #content #formations .formations--content .formations--title {
    align-self: flex-start;
    font-size: 1rem;
  }
  #content #formations .formations--content .formations--years {
    align-self: flex-start;
    padding-bottom: 2rem;
  }
}
#content #projects {
  max-width: 1137px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}
@media (max-width: 1177px) {
  #content #projects {
    padding: 0 4%;
  }
}
@media (max-width: 675px) {
  #content #projects {
    padding: 0 6%;
  }
}
#content #projects h2 {
  font-size: 2rem;
}
#content #projects .projects--left {
  display: flex;
  align-items: center;
}
#content #projects .projects--left .projects--left--img {
  margin: 2rem 1.5rem 2rem 0;
  width: 75%;
  box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.404);
}
#content #projects .projects--left .projects--left--texts--btns .projects--title {
  font-size: 1.375rem;
}
#content #projects .projects--left .projects--left--texts--btns .projects--subtitle {
  font-weight: 500;
  margin: 0.5rem 0;
}
#content #projects .projects--left .projects--left--texts--btns .projects--left--btns {
  margin-top: 2rem;
}
#content #projects .projects--left .projects--left--texts--btns .projects--left--btns .repo--btn {
  padding: 1rem 1rem;
  margin: 0 1rem 0 0;
  font-size: 1rem;
  text-decoration: none;
  color: #2A7AE4;
  border: 1px solid #2A7AE4;
}
#content #projects .projects--left .projects--left--texts--btns .projects--left--btns .repo--btn:hover {
  cursor: pointer;
  background-color: #2A7AE4;
  color: white;
}
#content #projects .projects--left .projects--left--texts--btns .projects--left--btns .repo--btn:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.432);
}
#content #projects .projects--left .projects--left--texts--btns .projects--left--btns .demo--btn {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background-color: #2A7AE4;
  border: 1px solid #2A7AE4;
}
#content #projects .projects--left .projects--left--texts--btns .projects--left--btns .demo--btn:hover {
  cursor: pointer;
}
#content #projects .projects--left .projects--left--texts--btns .projects--left--btns .demo--btn:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.432);
}
#content #projects .projects--right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#content #projects .projects--right .projects--right--img {
  margin: 2rem 0 2rem 1.5rem;
  width: 75%;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.404);
}
#content #projects .projects--right .projects--right--texts--btns .projects--title {
  font-size: 1.375rem;
}
#content #projects .projects--right .projects--right--texts--btns .projects--subtitle {
  font-weight: 500;
  margin: 0.5rem 0;
}
#content #projects .projects--right .projects--right--texts--btns .projects--right--btns {
  margin-top: 2rem;
}
#content #projects .projects--right .projects--right--texts--btns .projects--right--btns .repo--btn {
  padding: 1rem 1rem;
  margin: 0 1rem 0 0;
  font-size: 1rem;
  text-decoration: none;
  color: #2A7AE4;
  border: 1px solid #2A7AE4;
}
#content #projects .projects--right .projects--right--texts--btns .projects--right--btns .repo--btn:hover {
  cursor: pointer;
  background-color: #2A7AE4;
  color: white;
}
#content #projects .projects--right .projects--right--texts--btns .projects--right--btns .repo--btn:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.432);
}
#content #projects .projects--right .projects--right--texts--btns .projects--right--btns .demo--btn {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background-color: #2A7AE4;
  border: 1px solid #2A7AE4;
}
#content #projects .projects--right .projects--right--texts--btns .projects--right--btns .demo--btn:hover {
  cursor: pointer;
}
#content #projects .projects--right .projects--right--texts--btns .projects--right--btns .demo--btn:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.432);
}
@media screen and (max-width: 860px) {
  #content #projects h2 {
    font-size: 1.375rem;
  }
  #content #projects .projects--left {
    flex-direction: column;
    justify-content: center;
  }
  #content #projects .projects--left .projects--left--img {
    margin: 1rem 0;
    width: 100%;
  }
  #content #projects .projects--left .projects--left--texts--btns {
    align-self: flex-start;
  }
  #content #projects .projects--left .projects--left--texts--btns .projects--title {
    font-size: 1.5rem;
  }
  #content #projects .projects--left .projects--left--texts--btns .projects--subtitle {
    font-size: 0.875rem;
  }
  #content #projects .projects--left .projects--left--texts--btns .projects--left--btns {
    margin: 1.5rem 0 0.8rem 0;
  }
  #content #projects .projects--left .projects--left--texts--btns .projects--left--btns .repo--btn {
    padding: 0.7rem 0.7rem;
    font-size: 0.875rem;
  }
  #content #projects .projects--left .projects--left--texts--btns .projects--left--btns .demo--btn {
    padding: 0.7rem 1.05rem;
    font-size: 0.875rem;
  }
  #content #projects .projects--right {
    flex-direction: column;
    justify-content: center;
  }
  #content #projects .projects--right .projects--right--img {
    margin: 4rem 0 1rem 0;
    width: 100%;
  }
  #content #projects .projects--right .projects--right--texts--btns {
    align-self: flex-start;
  }
  #content #projects .projects--right .projects--right--texts--btns .projects--title {
    font-size: 1rem;
  }
  #content #projects .projects--right .projects--right--texts--btns .projects--subtitle {
    font-size: 0.875rem;
  }
  #content #projects .projects--right .projects--right--texts--btns .projects--right--btns {
    margin: 1.5rem 0 0.8rem 0;
  }
  #content #projects .projects--right .projects--right--texts--btns .projects--right--btns .repo--btn {
    padding: 0.7rem 0.7rem;
    font-size: 0.875rem;
  }
  #content #projects .projects--right .projects--right--texts--btns .projects--right--btns .demo--btn {
    padding: 0.7rem 1.05rem;
    font-size: 0.875rem;
  }
}
#content #contact {
  background-color: #EAF2FD;
}
#content #contact .contact--content {
  max-width: 1137px;
  margin: 32px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49.25rem;
}
@media (max-width: 1177px) {
  #content #contact .contact--content {
    padding: 0 4%;
  }
}
@media (max-width: 675px) {
  #content #contact .contact--content {
    padding: 0 6%;
  }
}
#content #contact .contact--content img {
  height: 75%;
}
#content #contact .contact--content .contact--inputs {
  margin-left: 1.5rem;
}
#content #contact .contact--content .contact--inputs h2 {
  font-size: 2rem;
}
#content #contact .contact--content .contact--inputs p {
  margin-top: 0.5rem;
  font-weight: 500;
}
#content #contact .contact--content .contact--inputs form {
  display: flex;
  flex-direction: column;
}
#content #contact .contact--content .contact--inputs form .span--required {
  color: #E63636;
  font-size: 0.9rem;
  font-weight: 500;
  margin: -12px 0 0 5px;
  display: none;
}
#content #contact .contact--content .contact--inputs form #span--assunto {
  margin: 4px 0 0 5px;
}
#content #contact .contact--content .contact--inputs form .input--styles {
  display: flex;
  flex-direction: column;
}
#content #contact .contact--content .contact--inputs form .input--styles .input--text {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #464646;
  font-weight: 500;
  height: 3.5rem;
  padding: 1.4rem 1rem 0 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 0.3px rgba(0, 0, 0, 0.253);
  outline: 0;
}
#content #contact .contact--content .contact--inputs form .input--styles .input--text:focus {
  border-bottom: 2px solid #2A7AE4;
}
#content #contact .contact--content .contact--inputs form .input--styles label {
  position: relative;
  bottom: 47px;
  left: 16px;
  font-size: 0.8rem;
  color: #A2A2A2;
  cursor: text;
}
#content #contact .contact--content .contact--inputs form .input--assunto {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #464646;
  font-weight: 500;
  height: 3.5rem;
  padding: 0 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 0.3px rgba(0, 0, 0, 0.253);
  outline: 0;
}
#content #contact .contact--content .contact--inputs form .input--assunto::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #A2A2A2;
}
#content #contact .contact--content .contact--inputs form .input--assunto:focus {
  border-bottom: 2px solid #2A7AE4;
}
#content #contact .contact--content .contact--inputs form .input--txtarea {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #464646;
  font-weight: 500;
  height: 8.3rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 0.3px rgba(0, 0, 0, 0.253);
  resize: none;
  outline: 0;
}
#content #contact .contact--content .contact--inputs form .input--txtarea::placeholder {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #A2A2A2;
}
#content #contact .contact--content .contact--inputs form .input--txtarea:focus {
  border-bottom: 2px solid #2A7AE4;
}
#content #contact .contact--content .contact--inputs form .btn--send {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-top: 2rem;
  color: white;
  background-color: #2A7AE4;
  border: none;
  height: 3.2rem;
  width: 10.3rem;
}
#content #contact .contact--content .contact--inputs form .btn--send:hover {
  cursor: pointer;
}
#content #contact .contact--content .contact--inputs form .btn--send:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.432);
}
@media screen and (max-width: 860px) {
  #content #contact .contact--content {
    margin: 0 auto;
    height: 39.5rem;
    justify-content: flex-start;
  }
  #content #contact .contact--content img {
    display: none;
  }
  #content #contact .contact--content .contact--inputs {
    margin: 2rem 0;
    width: 100%;
  }
  #content #contact .contact--content .contact--inputs h2 {
    font-size: 1.375rem;
  }
  #content #contact .contact--content .contact--inputs p {
    font-size: 1rem;
  }
}

#devby {
  max-width: 1137px;
  margin: 32px auto;
}
@media (max-width: 1177px) {
  #devby {
    padding: 0 4%;
  }
}
@media (max-width: 675px) {
  #devby {
    padding: 0 6%;
  }
}
#devby .footer--txt {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  text-align: center;
}
@media screen and (max-width: 860px) {
  #devby {
    margin: 0 auto;
  }
  #devby .footer--txt {
    padding: 1.5rem 0;
  }
}

/*# sourceMappingURL=styles.css.map */
